html{
    font-size: 62.5%;
}

body{
    background-color: white;
    color: black;
    margin: 0;
    font-size: 16px;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
}

img{
    width: 100%;
}

.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}

.overflow{
    overflow: hidden;
}


/* feed ig */

#feed-contenedor{
    background-color: rgb(189, 189, 189);
    margin: 5rem 0;
    width: 100%;
    overflow: hidden;
}

.main-galery{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.chevron span{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    color: rgb(157, 217, 238);
    width: 3rem;
    height: 3.4rem;
    background-color: rgba(23, 23, 23, 0.9);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.chevron span:hover{
    background-color: rgba(23, 23, 23, 0.6);
}

.chevron #prev {
    padding-right: .5rem;
    justify-content: flex-end;
    left: -1rem;
}

.chevron #next {
    padding-right: .5rem;
    justify-content: flex-start;
    right: -1rem;
}

.galery{
    display: flex;
    flex-wrap: nowrap;
    margin-right: -10px;
}

.image{
    min-width: 20%;
    height: 237px;
    position: relative;
    /* margin-right: 10px; */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.image:hover .opacity-hover{
    width: 100%;
}

.caption{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
    transition: transform 100ms linear;
    -webkit-transition: transform 100ms linear;
    -moz-transition: transform 100ms linear;
    -ms-transition: transform 100ms linear;
    -o-transition: transform 100ms linear;
}

.caption p {
    color: white;
    width: 80%;
}


.opacity-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
}

.opacity-hover:hover{
    background-color: rgba(2, 2, 2, 0.8);
}

.opacity-hover:hover .caption
{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.contenedor-galery{
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}